.add-good {
  display: none;
  position: absolute;
  top: 250px;
  left: 550px;
  margin-right: auto;
  margin-left: auto;
  padding: 32px 0 39px;
  max-width: 792px;
  min-height: 613px;
  box-shadow: 0px 0px 5px 0px #00000033;
  background-color: #f4f2ff;;
}

.add-good--visible {
  display: flex;
}

.add-good::after {
  display: none;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0;
}


.add-good__title {
  margin-bottom: 21px;
  color: #6e6893;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.add-good__close-button {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 30px;
  background: url(../img/cross.svg) no-repeat;
  background-size: contain;
  border: 1px solid transparent;
}

.add-good__close-button::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6d5bd0;
  opacity: 0;
}

.add-good__close-button:hover::after {
  opacity: 0.4;
}

.add-good__close-button:focus,
.add-good__close-button:active {
  outline: 1px solid #6d5bd0;
} 

.add-good__line {
  margin-bottom: 21px;
  width: 580px;
}

.form {
  margin-bottom: 33px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr) minmax(0, max-content);
  gap: 12px 24px;
  grid-template-areas: 
  "name description"
  "category description"
  "units amount"
  "discount price"
  "img-error adding-good"
  "img img";
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px #00000033;
}

.form__label {
  position: relative;
  padding-top: 20px;
}

.form__label:hover input {
  outline: 1px solid #ffffff;
}

.form__label:hover input,
.form__label:hover .form__textarea,
.form__label-discount-checkbox:hover .form__discount-checkbox-input::before,
.form__label-discount:hover .form__discount-input {
  outline: 1px solid #9686f0;
}

.form__label:focus,
.form__discount-wrapper:focus,
.form__label-discount-checkbox:focus,
.form__label-discount:focus,
.form__label:active,
.form__discount-wrapper:active,
.form__label-discount-checkbox:active,
.form__label-discount:active {
  outline: none;
}

.form__label:focus .form__input,
.form__label:focus .form__textarea,
.form__label-discount-checkbox:focus .form__discount-checkbox-input::before,
.form__label-discount:focus .form__discount-input,
.form__label:active .form__input,
.form__label:active .form__textarea,
.form__label-discount-checkbox:active .form__discount-checkbox-input::before,
.form__label-discount:active .form__discount-input {
  outline: 1px solid #6d5Bd0;
}

.form__input:focus,
.form__textarea:focus, 
.form__discount-checkbox-input:focus::before,
.form__discount-input:focus {
  outline: 1px solid #6d5Bd0;
}

.form__label-name {
  grid-area: name;
}

.form__label-category {
  grid-area: category;
}

.form__label-units {
  grid-area: units;
}

.form__discount-wrapper {
  grid-area: discount;
  display: grid;
  grid-template-columns: 40px 200px;
  grid-template-rows: 15px 40px;
  grid-template-areas: 
  "span span"
  "checkbox input";
  gap: 5px 10px;
}

.form__discount-span {
  grid-area: span;
}

.form__label-discount-checkbox {
  grid-area: checkbox;
  position: relative;
}

.form__discount-checkbox-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  display: block;
}

.form__discount-checkbox-input::before {
  position: absolute;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #f4f2ff;
}

.form__discount-checkbox-input::after {
  position: absolute;
  display: block;
  content: "";
  top: 7px;
  left: 15px;
  width: 12px;
  height: 20px;
  border-color: transparent #000000 #000000 transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  transform: rotate(45deg);
  opacity: 0;
}

.form__discount-checkbox-input:checked:after {
  opacity: 1;
}

.form__label-discount {
  grid-area: input;
}

.form__discount-input {
  width: 200px;
  height: 40px;
}

.form__discount-input:disabled {
  background-color: #eeeeee;
}

.form__label-description {
  grid-area: description;
}

.form__label-amount {
  grid-area: amount;
}

.form__label-price {
  grid-area: price;
}

.form__span {
  position: absolute;
  top: 0;
}

.form__span,
.form__discount-span {
  padding-left: 10px;
  color: #6e6893;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.form__input,
.form__discount-input,
.form__textarea {
  padding-left: 10px;
  background-color: #f4f2ff;
  border: none;
  border-radius: 6px;
  color: #6e6893;
  font-size: 12px;
  font-weight: 600;
}

.form__input {
  width: 250px;
  height: 40px;
}

.form__textarea {
  width: 250px;
  height: 112px;
  resize: none;
}

.form__adding-good-label {
  padding-top: 32px;
  grid-area: adding-good;
  cursor: pointer;
}

.form__adding-good-label:hover .form__adding-good-span,
.form__adding-good-label:active .form__adding-good-span {
  background-color: #4a34c9;
}

.form__adding-good-label:focus {
  outline: none;

}

.form__adding-good-label:focus .form__adding-good-span {
  outline: 2px solid #4a34c9;
}

.form__adding-good-input {
  display: none;
}

.form__adding-good-span {
  padding: 11px 29px 11px 28px;
  color: #ffffff;
  background-color: #6d5bd0;
  border-radius: 6px;
  text-transform: uppercase;
}

.add-good__total-wrapper {
  width: 523px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  column-gap: 90px;
}

.add-good__total {
  padding-left: 0;
}

.add-good__form-button {
  padding: 10px 25px;
  background-color: #6d5Bd0;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.add-good__form-button:hover,
.add-good__form-button:active {
  background-color: #4a34c9;
}

.add-good__form-button:focus {
  outline: 1px solid #4a34c9;
}

.form__adding-good-error-img-size {
  display: none;
  grid-area: img-error;
  align-self: flex-end;
  color: #d80101;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.form__adding-good-img {
  display: none;
  grid-area: img;
  position: relative;
  height: 236px;
  background: url(../img/coffee.svg) no-repeat;
  background-size: 200px;
  background-position: center;
}

.form__adding-good-img-del-background {
  position: absolute;
  top: 18px;
  left: 174px;
  width: 200px;
  height: 200px;
  background-color: #000000;
  opacity: 0.5;
}

.form__adding-good-img-del {
  position: absolute;
  top: 98px;
  left: 254px;
  width: 40px;
  height: 40px;
  background: url(../img/img-del.svg);
}

.add-good__error {
  display: none;
  position: absolute;
  top: 132px;
  left: 221px;
  width: 350px;
  height: 350px;
  background-color: #f4f2ff;
  box-shadow: 0px 0px 6px 0px #00000040;
  border-radius: 6px;
}

.add-good__error-close-button {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: 26px;
  right: 29px;
  background: url(../img/cross.svg) no-repeat;
  background-size: contain;
  border: 1px solid transparent;
}

.add-good__error-close-button::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6d5bd0;
  opacity: 0;
}

.add-good__error-close-button:hover::after {
  opacity: 0.4;
}

.add-good__error-close-button:focus,
.add-good__error-close-button:active {
  outline: 1px solid #6d5bd0;
} 

.add-good__error-img-wrapper {
  position: relative;
}

.add-good__error-img {
  position: absolute;
  display: block;
  top: 119px;
  left: 130px;
  width: 90px;
  height: 90px;
}

.add-good__error-title {
  position: absolute;
  top: 236px;
  left: 48px;
  color: #6e6893;
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1300px) {
  .add-good {
    padding: 2.46vw 0 3vw;
    max-width: 60.92vw;
    min-height: 47.15vw;
  }
  
  .add-good__title {
    margin-bottom: 0.92vw;
    font-size: 1.85vw;
  }
  
  .add-good__close-button {
    width: 1.54vw;
    height: 1.54vw;
    top: 1.54vw;
    right: 2.31vw;
  }
  
  .add-good__line {
    margin-bottom: 1.62vw;
    width: 44.62vw;
  }
  
  .form {
    margin-bottom: 2.54vw;
    padding: 1.23vw;
    gap: 0.92vw 1.85vw;
  }
  
  .form__label {
    padding-top: 1.54vw;
  }
  
  .form__discount-wrapper {
    grid-area: discount;
    display: grid;
    grid-template-columns: 3.08vw 15.38vw;
    grid-template-rows: 1.15vw 3.08vw;
    gap: 0.38vw 0.77vw;
  }
    
  .form__discount-checkbox-input::before {
    width: 3.08vw;
    height: 3.08vw;
  }
  
  .form__discount-checkbox-input::after {
    top: 0.54vw;
    left: 1.15vw;
    width: 0.8svw;
    height: 1.54vw;
  }
  
  .form__discount-input {
    width: 15.38vw;
    height: 3.08vw;
  }
    
  .form__span,
  .form__discount-span {
    padding-left: 0.77vw;
    color: #6e6893;
    font-size: 0.92vw;
  }
  
  .form__input,
  .form__discount-input,
  .form__textarea {
    padding-left: 0.77vw;
    font-size: 0.92vw;
  }
  
  .form__input {
    width: 19.23vw;
    height: 3.08vw;
  }
  
  .form__textarea {
    width: 19.23vw;
    height: 10.62vw;
  }
  
  .form__adding-good-label {
    padding-top: 3.2vw;
  }
  
  .form__adding-good-span {
    padding: 0.85vw 2.23vw 0.85vw 2.15vw;
    font-size: 1.08vw;
  }
  
  .add-good__total-wrapper {
    width: 40.23vw;
    column-gap: 6.92vw;
  }

  .add-good__total {
    font-size: 1.08vw;
  }
    
  .add-good__form-button {
    padding: 0.77vw 1.92vw;
    font-size: 1.23vw;
  }
  
  .form__adding-good-error-img-size {
    font-size: 1.08vw;
    line-height: 1.31vw;
  }
  
  .form__adding-good-img {
    height: 18.15vw;
    background-size: 15.38vw;
  }
  
  .form__adding-good-img-del-background {
    top: 1.38vw;
    left: 13.38vw;
    width: 15.38vw;
    height: 15.38vw;
  }
  
  .form__adding-good-img-del {
    top: 7.54vw;
    left: 19.54vw;
    width: 3.08vw;
    height: 3.08vw;
    background: url(../img/img-del.svg);
    background-size: contain;
  }
  
  .add-good__error {
    top: 10.15vw;
    left: 17vw;
    width: 26.92vw;
    height: 26.92vw;
  }
  
  .add-good__error-close-button {
    width: 1.54vw;
    height: 1.54vw;
    top: 2vw;
    right: 2.23vw;
  }
    
  .add-good__error-img-wrapper {
    margin-bottom: 2.54vw;
    padding-top: 8.38vw;
  }
  
  .add-good__error-img {
    width: 6.92vw;
    height: 6.92vw;
  }

  .add-good__error-title {
    font-size: 1.38vw;
  }  
}
