
@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
  url("../fonts/inter_regular.woff2") format("woff2"),
  url("../fonts/inter_regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"),
  url("../fonts/inter_medium.woff2") format("woff2"),
  url("../fonts/inter_medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Semi Bold"), local("Inter-Semi-Bold"),
  url("../fonts/inter_semi_bold.woff2") format("woff2"),
  url("../fonts/inter_semi_bold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"),
  url("../fonts/inter_bold.woff2") format("woff2"),
  url("../fonts/inter_bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
